{% extends 'djangobasicapp/Layout.html' %}

{% load customfilters %}


{% block body_block %}

    <ul>
        <li>Course Description : {{Description | first_five_upper}}</li>
        <li>Course Description : {{Description | first_five_upper | lower}}</li>
        <li>Course Description : {{Description | specified_upper:10}}</li>
        <li>Course Description : {{Description | length_limit:20}}</li>
        <li>InDemand : {{InDemand | rating}}</li>
        <li>PollNumber : {{PollNumber}} i.e. ({{PollNumber | convert_number_to_words}})</li>

    </ul>
    
{% endblock %}
